## Training, Testing Datasets

#### Loading in Dataset

In [1]:
import pandas as pd
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', names=['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium', 'total_phenols','flavanoids', 'nonflavanoid_phenols' ,'proanthocyanins', 'color_intensity', 'hue', 'OD280/OD315_of_diluted_wines', 'proline'], delimiter=",", index_col=False)
data.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,OD280/OD315_of_diluted_wines,proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93

#### Preprocessing Data

In [2]:
import numpy as np

X = np.array(data.drop(['alcohol'], axis=1))
y = np.array(data['alcohol'])

In [3]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=42)

In [6]:
print('Top 5 examples of X_train dataset: \n', X_train[:5])

Top 5 examples of X_train dataset:
 [[14.34  1.68  2.7  25.   98.    2.8   1.31  0.53  2.7  13.    0.57  1.96]
 [12.53  5.51  2.64 25.   96.    1.79  0.6   0.63  1.1   5.    0.82  1.69]
 [12.37  1.07  2.1  18.5  88.    3.52  3.75  0.24  1.95  4.5   1.04  2.77]
 [13.48  1.67  2.64 22.5  89.    2.6   1.1   0.52  2.29 11.75  0.57  1.78]
 [13.07  1.5   2.1  15.5  98.    2.4   2.64  0.28  1.37  3.7   1.18  2.69]]

In [ ]:
print('Top 5 examples of X_test dataset: \n', X_test[:5])